
@{
    ViewData["Title"] = "View";
}

<h2>Habits tracking</h2>
<table class="table table-striped table-dark" style="overflow: auto">
    <thead>
        <tr>
            <th>    </th>
            <th>19 Jan</th>
            <th>20 Jan</th>
            <th>21 Jan</th>
            <th>Today</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Make love</td>
            <td style="background-color: aquamarine">+</td>
            <td style="background-color: orangered">-</td>
            <td style="background-color: aquamarine">+</td>
            <td ></td>
        </tr>
        <tr>
            <td>Not war</td>
            <td style="background-color: orangered">-</td>
            <td style="background-color: orangered">-</td>
            <td style="background-color: aquamarine">+</td>
            <td width="80px">
                <input style="float: left; margin-left: 4px" type="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Check_mark_23x20_02.svg/1081px-Check_mark_23x20_02.svg.png" alt="Done" width="20" height="20">
                <input style="float: right; margin-right: 5px" type="image" src="http://pluspng.com/img-png/red-cross-png-transparent-image-700.png" alt="Failed" width="20" height="20">
            </td>
        </tr>
    </tbody>
</table>

